/* Site header section styling */
p {
    color:brown;
    text-shadow: -1px -1px 0px #333;
    font-size: 18px;
}

body {
    background-color: darksalmon;
    margin: 0;
    padding: 0;
    position: relative; /* Add relative positioning to establish a new stacking context */
}

.headersection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    z-index: 999; /* Set a higher z-index value */
}

#sitenavigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Align items to the left */
}

#sitenavigation li {
    margin-right: 20px;
}

#sitenavigation a {
    color: darksalmon;
    text-decoration: none;
}

#sitenavigation a:hover {
    color: wheat;
    border-radius: 5px;
}

#sitetitle {
    /* font */
    margin: 0;
    color: darksalmon;
    text-shadow: wheat 2px 0px;
    margin-bottom: 20px;
    margin: auto; 
}

#sitetitle:hover {
    color: wheat;
    text-shadow: darksalmon 2px 0px;
}

#galtitle{
    color: brown;
    text-shadow: 2px 0px 0px wheat;
    margin-top: 100px;
    text-align: center;
}

#galtitle:hover{
    color: bisque;
    text-shadow: 1px 1px 0px black;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Two columns with equal width */
    grid-auto-rows: 1fr; /* Let the rows adjust their height as needed */
    grid-gap: 20px; /* Add some spacing between images */
    justify-content: center; /* Center the grid horizontally */
    padding: 20px; /* Add padding around the grid */
}

.image-grid li {
    list-style: none; /* Remove default list-style */
}

.image-grid img {
    width: 80%; /* Make the images fill their container */
    height: 80%;
    object-fit: cover; /* Preserve aspect ratio and cover the entire container */
    margin: 5px;
}

/* Style for the image container */
.image-item {
    display: flex;
    align-items: flex-start;
}

/* Style for the image description */
.image-description {
    margin-left: 10px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Add a shadow for separation */
}

.image-description h2 {
    font-size: 16px;
    margin: 0;
    color: brown;
}

.image-description p {
    font-size: 14px;
    margin: 5px 0;
    color: #333;
}
