/* Site header section styling */
p {
    color:brown;
    text-shadow: -1px -1px 0px #333;
    font-size: 18px;
}

body {
    background-color: darksalmon;
    margin: 0;
    padding: 0;
    position: relative; /* Add relative positioning to establish a new stacking context */
}

.headersection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    z-index: 999; /* Set a higher z-index value */
}

#sitenavigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Align items to the left */
}

#sitenavigation li {
    margin-right: 20px;
}

#sitenavigation a {
    color: darksalmon;
    text-decoration: none;
}

#sitenavigation a:hover {
    color: wheat;
    border-radius: 5px;
}

#sitetitle {
    /* font */
    margin: 0;
    color: darksalmon;
    text-shadow: wheat 2px 0px;
    margin-bottom: 20px;
    margin: auto; 
}

#sitetitle:hover {
    color: wheat;
    text-shadow: darksalmon 2px 0px;
}

#galtitle{
    color: brown;
    text-shadow: 2px 0px 0px wheat;
    margin-top: 100px;
    text-align: center;
}

#galtitle:hover{
    color: bisque;
    text-shadow: 1px 1px 0px black;
}


/* Adjust the header-content to include space for flags */
.header-content {
    display: flex;
    justify-content: space-between; /* Align navigation and language flags to opposite ends */
    align-items: center; /* Vertically center align items */
    padding-right: 40px; /* Adjust right padding to create space for flags */
}



.image-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* Two columns with equal width */
    grid-auto-rows: 1fr; /* Let the rows adjust their height as needed */
    grid-gap: 20px; /* Add some spacing between images */
    justify-content: center; /* Center the grid horizontally */
    padding: 20px; /* Add padding around the grid */
}

.image-grid li {
    list-style: none;
    width: 100%; /* Set the width to 100% to ensure each item takes the full width of the grid cell */
    height: auto; /* Allow the height to adjust automatically based on content */
}

.image-grid img {
    object-fit: cover;
    border: solid 2px #333;
    margin: 5px;
}

.image-item {
    display: flex;
    align-items: flex-start; /* Align items to the top of the container */
    margin: 10px;
}

.image-description {
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: relative;
}

.image-description::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: inherit;
    z-index: -1;
}

.image-description img {
    flex: 1; /* Grow to fill available space */
    max-width: 50%; /* Limit the image's width to 50% of the container */
}

.text {
    flex: 1; /* Grow to fill available space */
    margin-left: 10px; /* Add some spacing between image and text */
    text-align: left; /* Align text to the left */
}

.collections .image-item .image-description h2{ 
    color: crimson;
    text-shadow: 1px -1px black;
}